.locker-room-header {
    -webkit-box-shadow: 0 4px 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222;
    box-shadow: 0 4px 4px -6px #222;

    &__title {
        padding: 5px 5px 5px 10px;

        .title-text {
            font-family: 'Roboto', sans-serif;
            font-size: 28px;
            color: #FFFFFF;
            font-weight: 500;

            .mc {
                background-color: #bf0705;
                padding: 5px 5px 0px 5px;
            }

            .squares-title {
                margin-left: 5px;
                color: #222;
                padding: 0px 5px 0px 0px;
                font-weight: 700;
                font-style: italic;
            }
        }
    }

    .lobby-router {
        color: #FFFFFF;
        text-decoration: none;
    }
    .lobby-router:hover {
        color: #FFFFFF;
        text-decoration: none;
    }
}

.locker-room-content {
    .locker-room-left {
        background-color: #bf0705;
    }

    .locker-room-right {
        background-color: #bf0705;
    }
}