.pin-button-row {
    align-content: center;
    text-align: center;
    justify-content: center;
    text-align: -webkit-center;
    padding-top: 20px;

    .pin-button {
        font-size: 24px;
        font-family: 'Roboto', sans-serif;
        font-weight: 200;

        .btn {
            width: 40%;
        }

        .btn-primary {
            border: solid 0px;
            background-color: #005b96;
        }
    }

    .pin-button-subtext {
        padding-top: 10px;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
    }
}