.play-button-row {
    align-content: center;
    text-align: center;
    justify-content: center;
    margin-top: -50px;

    .play-button {
        font-size: 24px;
        font-family: 'Roboto', sans-serif;
        font-weight: 200;

        .btn-circle.btn-xl {
            margin-bottom: 10px;
            background-color: 	#bf0705;
            color: #ffffff;
            width: 100px;
            height: 100px;
            padding: 10px 16px;
            font-size: 36px;
            border-radius: 50%;
            -webkit-box-shadow: 0 4px 6px -6px #222;
            -moz-box-shadow: 0 4px 6px -6px #222;
            box-shadow: 0 4px 6px -6px #222;
          }
    }

    .play-button-subtext {
        font-size: 18px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
    }
}